.status-bar {
  position: absolute;
  top: 1em;
  right: 2em;
}

.status-bar__element {
  color: white;
  text-shadow: 0 0 2px black, 0 0 10px #72f1b8;
  /* color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 2px 2px 15px #dc078ee0, 0 0 25px white; */
  font-family: "neon80s";
  font-size: 2em;
}

.action-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 2px #050831, 0 0 20px #050831;
  font-family: "neon80s";
}

.action-bar__element {
  flex: 1 1 0;
  background-color: #133072;

  border: none;
  padding: 10px 20px;
  font-weight: bold;
  max-width: 100vw - 40px;
  font-size: 2em;
  color: white;
  /* text-shadow: 0 0 2px black, 0 0 2px white; */
  font-family: "neon80s";
}

.action-bar__element--active {
  background-color: #415ba7;
}
